html{
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  box-sizing: border-box;
  background-color: rgb(255,242,242);
}

.container-fluid{
  background-color: rgb(255,242,242);
}

h1{
  font-weight: bold;
  font-size: 2.5rem;
  color: rgb(32,64,86);
}

h2{
  font-size: 1rem;
  font-weight: bold;
}

p{
  color: rgb(74,74,74);
}

.row{
  padding: 5.25rem 5.25rem 0 5.25rem;
}

.col-xs-12,
.col-md-3{
  color: rgb(74,74,74);
  float: left;
  margin-bottom: 20px;
}

.card{
  height: 12.5rem;
  background-color: rgb(32,64,86);
  border: 4px solid #ffffff;
  border-radius: 8px;
  display: flex;
  font-weight: 900;
  font-size: 7rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: rgb(255,255,255);
}

.card:hover{
  cursor: pointer;
}
